<form action="/result" method="post">
  <label>String to change:</label>
  <input type="text" name="string" value=""> <br>
  <label>Word to replace:</label>
  <input type="text" name="to-replace" value=""> <br>
  <label>Replace with:</label>
  <input type="text" name="replace-with" value=""> <br>
  <label>All instances?</label>
  <input type="checkbox" name="all" value="true"> <br>
  <h6>(Ex: When replacing 'fox' with 'dog', 'foxtrot' will become 'dogtrot')</h6>
  <button type="submit">Submit</button>
</form>
